<div class="panel">
   <div class="inner">
      <h3>{L_SEARCH_GOOGLE}</h3>
         <fieldset>
            <dl>
               <dt><label for="q">{L_SEARCH_GOOGLE}{L_COLON}</label><br /><span>{L_SEARCH_KEYWORDS_EXPLAIN}</span></dt>
                  <dd>
                     <form action="{U_GOOGLE_SEARCH}">
                        <input method="get" type="hidden" value="{S_GOOGLESEARCH_CUSTOM_CODE}">
                        <input type="text" name="q" type="search" maxlength="255" class="inputbox" value="{SEARCH_WORDS}" placeholder="{L_GOOGLE_SEARCH}">
                  </dd>
            </dl>
         </fieldset>
   </div>

   <div class="panel bg3">
            <fieldset class="submit-gbuttons">{S_HIDDEN_FIELDS}
               <input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
               <input type="submit" name="submit" value="{L_SEARCH}" title="{L_SEARCH_GOOGLE}" class="button1" />
            </fieldset>
         </form>
   </div>
</div>
