{% INCLUDE 'overall_header.html' %}
	<h1>{{ lang('ACP_GOOGLESEARCH_CONFIG') }}</h1>

	<p>{{ lang('ACP_GOOGLESEARCH_CONFIG_EXPLAIN') }}</p>

	<form id="acp_quotes_config" method="post" action="{{ U_ACTION }}">

	<fieldset>
	<legend>{{ lang('ACP_GOOGLESEARCH_CONFIG_SET') }}</legend>
	<dl>
		<dt>
			<label for="googlesearch_custom">{{ lang('GOOGLESEARCH_CUSTOM') }}{{ lang('COLON') }}</label><br /><span>{{ lang('GOOGLESEARCH_CUSTOM_CODE_EXPLAIN') }}</span>
		</dt>
		<dd>
			<input style="width: 90%" name="googlesearch_custom_code" type="text" id="googlesearch_custom_code" value="{{ GOOGLESEARCH_CUSTOM_CODE }}"  placeholder="{{ lang('GOOGLESEARCH_CUSTOM_CODE_PLACEHOLDER') }}" maxlength="255" />
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="googlesearch_position">{{ lang('GOOGLESEARCH_POSITION') }}{{ lang('COLON') }}</label>
		</dt>
	</dl>
	<dl>
		<dt>
			<label for="googlesearch_custom">{{ lang('GOOGLESEARCH_HEADER') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="googlesearch_position2" value="1"{% if GOOGLESEARCH_POSITION2 %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="googlesearch_position2" value="0"{% if not GOOGLESEARCH_POSITION2 %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="googlesearch_custom">{{ lang('GOOGLESEARCH_NAVBAR') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="googlesearch_position" value="1"{% if GOOGLESEARCH_POSITION %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="googlesearch_position" value="0"{% if not GOOGLESEARCH_POSITION %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="googlesearch_custom">{{ lang('GOOGLESEARCH_INDEX') }}</label>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="googlesearch_position3" value="1"{% if GOOGLESEARCH_POSITION3 %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="googlesearch_position3" value="0"{% if not GOOGLESEARCH_POSITION3 %} id="googlesearch_position" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
		<br style="margin-bottom:8px;"/>
	<dl>
		<dt>
			<label for="googlesearch_verification">{{ lang('GOOGLESEARCH_VERIFICATION_CODE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('GOOGLESEARCH_VERIFICATION_CODE_EXPLAIN') }}</span>
		</dt>
		<dd>
			<input style="width: 90%" name="googlesearch_verification_code" type="text" id="googlesearch_verification_code" value="{{ GOOGLESEARCH_VERIFICATION_CODE }}"  placeholder="{{ lang('GOOGLESEARCH_VERIFICATION_CODE_PLACEHOLDER') }}" maxlength="255" />
		</dd>
	</dl>

	<p class="submit-buttons">
	<input type="hidden" name="action" value="save" />
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</p>
	</fieldset>
	</form>

{% INCLUDE 'overall_footer.html' %}
